.contact-form{
   margin: 30px 100px;

}
.contact-form input{
    display: block;
    margin-top: 30px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 80%;
}
.error{
    color: red;
}
.contact-section{
    background-image: url(../../../images/appointment.png);
    background-size: cover;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
    background-color: rgb(36, 41, 73);
    opacity:.5 ;
    height: 550px;
    padding-left: 100px;
}